
# ==============================
# Secrets / credenciales
# ==============================
.env
.env.*
*.key
*.pem
secrets.json

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# ==============================
# Jupyter / Colab
# ==============================
.ipynb_checkpoints/

# ==============================
# Entorno virtual
# ==============================
.venv/
venv/
env/

# ==============================
# Archivos temporales
# ==============================
*.tmp
*.temp
*.log

# ==============================
# Sistema operativo
# ==============================
.DS_Store
Thumbs.db
